.DS_Store
.tools/
.work/
.secrets/
dist/
apps/
**/.gradle/
**/build/
**/local.properties
**/google-services.json
**/keystore.properties
**/*.jks
**/*.keystore
**/*.p12
**/*.mobileprovision
.env
.env.*
!.env.example
